.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
  color: white;
  font-family: Arial, sans-serif;
}

.text-bar {
  width: 600px;
  height: 30px;
  padding: 10px;
  font-size: 18px;
  border-radius: 15px;
  border: 2px solid #61dafb;
  background-color: white;
  color: #282c34;
  margin-bottom: 20px;
}

.text-bar:focus {
  outline: none;
  border-color: #b3ddff;
  box-shadow: 0 0 5px #61dafb;
}

.processed-text {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}
.plus-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #61dafb;
  border: none;
  font-size: 24px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  margin-top: 20px;
}

.plus-button:focus {
  outline: none;
}

.plus-button:hover {
  background-color: #4ec8f4;
}

.job-details h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.job-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
  color: white;
  font-family: Arial, sans-serif;
}

.job-row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.job-input {
  width: 100%;  
  max-width: 300px;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 8px;
  margin-bottom: 10px;
  border: 2px solid #61dafb;
  background-color: white;
  color: #282c34;
}
.job-input:focus {
  outline: none;
  border-color: #b3ddff;
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}
.job-input-many {
  width: 100%;
  max-width: 300px;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 8px;
  margin-bottom: 10px;
  border: 2px solid #61dafb;
  background-color: white;
  color: #282c34;
}
.job-input-more {
  width: 74%;
  border: 1px solid #61dafb;
  border-radius: 4px;
  padding: 6px 12px;
  font-size: 14px;
  outline: none;
  margin-top: 1%;
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}
.add-job-button {
  background-color: white;
  color: #61dafb;
  border: 1px solid #61dafb;
  border-radius: 4px;
  font-size: 14px;
  padding: 6px 12px;
  margin-left: 10px;
  margin-top: 1%;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

.download-button {
  display: inline-block;
  padding: 8px 12px;
  margin-top: 10px;
  background-color: #61dafb;
  border: none;
  font-size: 14px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  text-decoration: none;
  border-radius: 4px;
}

.download-button a {
  color: white;
  text-decoration: none;
}


.download-button:hover {
  background-color: #4ec8f4;
}

.download-button:focus {
  outline: none;
}
